body {
  background-image: url(https://images.pexels.com/photos/220182/pexels-photo-220182.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  height: 100%;
}

.box {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
}

.text {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
}

#India {
  float: left;
}

#Indiatext {
  left: 100px;
  top: 180px;
}

#America {
  float: left;
}

#Americatext {
  left: 330px;
  top: 180px;
}

#Germany {
  float: left;
}

#Germanytext {
  left: 570px;
  top: 180px;
}

#Canada {
  float: left;
}

#Canadatext {
  left: 820px;
  top: 180px;
}
